/** GENERIC **/

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

.dark-red {
    background-color: #873431;
}

.dark-green {
    background-color: #407547;
}

.dark-purple {
    background-color: #414075;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}

/** HOME **/

section#news {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.users {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.chapterSingle {
    margin-top: 20px;
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    height: 320px;
    position: relative;
}

.newsSingle {
    margin-top: 20px;
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    height: 265px;
    position: relative;
}

.newsSinglePage {
    margin-top: 35px;
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.chapterPage {
    padding: 20px 0 20px 0;
}

.newsSinglePage img {
    max-height: 400px;
}

.newsHeader {
    position: relative;
}

.newsHeaderTriangle {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 1200px;
    border-color: transparent transparent transparent #ffffff;
}

.newsHeader .newsTitle {
    position: absolute;
    bottom: 80px;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    color: #FFFFFF;
    max-width: 90%;
    font-family: 'Signika', sans-serif;
}

.newsSinglePage .newsContent {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    font-size: 15px;
    border-top: 1px solid #bdbdbd;
}

.newsTitle h3 {
    margin: 5px;
}

.newsHeader .newsAuthor {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50px;
    max-width: 300px;
    width: 100%;
}

.newsHeader .newsAuthor img {
    max-width: 100px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
}

span.articleAuthor {
    position: absolute;
    bottom: 15px;
    max-width: 200px;
    width: 100%;
    font-weight: 700;
    left: 110px;
    font-size: 12pt;
}

span.articleDate {
    bottom: -15px;
    position: absolute;
    font-weight: 700;
    left: 110px;
    font-size: 9pt;
    color: #777777;
}

span.articleComments {
    bottom: -40px;
    position: absolute;
    font-weight: 700;
    left: 110px;
    font-size: 9pt;
    color: #777777;
}

span.articleDate .fa {
    margin-right: 5px;
}

span.articleComments .fa {
    margin-right: 5px;
}

.newsContainer {
    padding: 0 10px 0 10px;
}

.lastNewsSingle {
    margin-top: 15px;
}

.lastNewsSingle .newsTitle {
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    margin: 10px 0 5px;
    line-height: 27px;
    color: #141517;
}

.newsSingle .newsTitle {
    color: #141517;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    line-height: 23px;
    margin: 10px 0 0;
}

.chapterSingle .chapterTitle {
    color: #141517;
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    line-height: 23px;
    margin: 10px 0 0;
}

.newsSingle img {
    height: 185px;
}

.chapterSingle img {
    height: 215px;
}

.newsSingle a:hover, .chapterSingle a:hover {
    text-decoration:none;
}

.newsSingle .newsContent {
    font-size: 17px;
    color: #929a9c;
    margin: 0 0 11px 0;
}

.chapterSingle .chapterContent {
    font-size: 12px;
    color: #929a9c;
    margin: 0 0 11px 0;
}

.newsDate {
    color: #cf2e13;
    font-weight: 600;
    font-size: 8pt;
    position: absolute;
    bottom: 3px;
    right: 8px;
}

.chapterDate {
    color: #cf2e13;
    font-weight: 600;
    font-size: 8pt;
    position: absolute;
    bottom: 75px;
    right: 8px;
}

nav.navbar-custom {
    border: 0px !important;
    max-width: 990px;
    margin: 0 auto;
    background-color: #FFFFFF !important;
    text-transform: uppercase;
}

i.fa.fa-book {
    margin-right: 5px;
}

i.fa.fa-home {
    margin-right: 5px;
}

.lastNewsDate {
    display:inline-block;
    margin-left:5px;
}

.lastNewsAuthor {
    display:inline-block;
    margin-right:5px;
}

.newsMeta {
    margin: 10px 0px 15px 0px;
}

.newsMeta i {
    margin-right:5px;
}

.readMore, .readMore a, .readMore:hover, .readMore a:hover {
    color: #cf2e13;
    font-weight: 600;
    font-size: 11pt;
    text-decoration:none;
}

.deleteIcon a, .editIcon a {
    display: block;
    float: right;
    font-size: 20px;
    color: #505050;
    margin-left: 10px;
}

.deleteIcon a:hover {
    color: #e51e37;
    transition: 0.3s ease-in-out;
}

.verifReport a, .verifReport a {
    display: block;
    float: right;
    font-size: 20px;
    color: #505050;
    margin-left: 10px;
}

.verifReport a:hover {
    color: #41e500;
    transition: 0.3s ease-in-out;
}

.editIcon a:hover {
    color: #619ae5;
    transition: 0.3s ease-in-out;
}

.addIcon a {
    font-size: 25pt;
    padding: 2px 10px 2px 10px;
    display: block;
    text-align: right;
}

.addIcon i {
    border: 2.5px solid #d0dde4;
    border-radius: 50%;
    padding: 5px;
    color: #6f6f6f;
    background-color: white;
}

.addIcon i:hover {
    color: #33b5e5;
    transition: 0.5s ease-in-out;
    border:2.5px solid #33b5e5;
}

.loginForm {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.loginForm .form {
    padding: 40px;
}

.loginForm h2 {
    margin: 0 0 30px;
    color: #33b5e5;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.loginForm input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.loginForm input:focus {
    border: 1px solid #33b5e5;
    color: #333333;
}

.loginForm button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.loginForm .corner {
    position: absolute;
    top: -0;
    right: -0;
    background: #33b5e5;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.forget {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.forget a {
    color: #333333;
    text-decoration: none;
}

.comment {
    margin: 10px;
    border-bottom: 2px solid #d0dde4;
    border-right: 4px solid #d0dde4;
    background: #fff;
    padding: 30px 40px 27px;
    transition: all 0.3s ease-in-out 0s;
}

.comments {
    width: 100%;
    background-color: #F3F3F3;
}

.header {
    background: url('/app_mvc/web/img/header.jpg') center no-repeat;
    height: 520px;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
}

.headerInfos {
    position: fixed;
    padding-top: 120px;
    left: 50%;
    margin-left: -150px;
}

.infoImage {
    text-align: center;
    margin: 0 auto;
}

.infoImage img {
    width: 150px;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
}

.infoName {
     text-align: center;
     color: #f7f7f7;
     text-shadow: 2px 2px #363636;
     font-family: "Signika", sans-serif;
     font-size: 30pt;
     margin-top: 10px;
 }

.infoDesc {
    text-align: center;
    color: rgba(14, 14, 14, 0.9);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14pt;
    text-shadow: 1px 1px #dfdfdf;
}

.infoSocial {
    font-size: 20pt;
    padding-left: 30px;
}

.infoSocial a {
    color: #f7f7f7;
    text-shadow: 2px 2px #636363;
}

.infoSocial span {
    margin-right: 30px;
}

.mainContainer {
    position: relative;
    margin: 520px auto 0 auto;
    background: #F9F9F9;
}

.navBarmenu {
    border-bottom: 1px solid #f4f3f3;
    padding: 15px 0 15px 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 10;
    font-size: 13pt;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
    border-bottom: 2px solid #616161;
    font-weight: 700;
}

.navBarmenuItem a, .navBarmenuItem a:hover, .navBarmenuItemCurrent a, .navBarmenuItemCurrent a:hover {
    text-decoration:none;
    color:#000000;
}

.navbar-default .navbar-nav>li>a {
    color: #272727 !important;
}

.login {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    max-width: 35px;
    background-color: #FFFFFF;
    height: 20px;
    border-left: 1px solid #414141;
    border-radius: 0px 0px 2px 2px;
    border-bottom: 1px solid #414141;
    padding: 0px 0px 5px 5px;
}
.login a {
    color: #414141;
}

.login i {
    margin-right: 2px;
}

.login .fa-cogs {
    margin-left: 4px;
}

.img-fluid {
    width:100%;
    height:auto;
}

/** ADMIN **/

.sidebarLeft {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 240px;
    height: 100%;
    overflow: hidden;
    -moz-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 4px 5px 4px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    z-index: 9;
    background-color: #222222;
}

.sidebarLeft li {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    border-bottom: 1px solid #575859;
}

.sidebarLeft li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}

ul#sidebarNav i {
    margin-right: 10px;
}

ul#sidebarNav {
    padding-left: 0px;
    padding-top: 20px;
}

a.sidebarElement {
    font-size: 13pt;
}

.connectedInfo {
    text-align: center;
    color: #ccd1d7;
    font-size: 20px;
    padding-top: 30px;
}

.connectedInfo span {
    font-size: 10pt;
    margin-bottom: 10px;
    display: block;
}

.connectedInfo i {
    margin-right: 5px;
}

.connectedInfo img {
    padding: 5px 50px 5px 50px;
}

ul#navNews li, ul#comments li, ul#users li {
    padding-left: 20px;
}

ul#navNews li a, ul#comments li a, ul#users li a {
    color: #bbbbbb;
}

ul#navNews li a:hover, ul#comments li a:hover, ul#users li a:hover {
    background-color: #303030;
}

.userSettings {
    position: relative;
}

.userSettings .dropdown-menu {
    padding: 10px 10px 10px 0px !important;
    position: absolute;
    left: -50px;
}

.viewZone {
    width: 100%;
    padding: 60px 10px 10px 240px;
}

.dataBox {
    margin-bottom: 15px;
    text-align: center;
}

.dataBoxHeading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

.dataBoxHeading .fa-users, .dataBoxHeading .fa-pencil, .dataBoxHeading .fa-comments   {
    margin-top: 15px;
}

.dataBoxContent {
    padding-top: 50px;
}
.dataBoxDescription {
    text-transform: uppercase;
}
.dataBoxNumber {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}
.dataBoxFooter {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

a.dataBoxFooter:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.adminPageTitle {
    margin: 20px 0px 50px 0px;
}

.adminPageTitle h2 {
    padding-left: 2px;
}

.adminPageTitle span {
    display: block;
    background-color: #FFF;
    padding: 10px;
    margin-top: 20px;
    font-size: 12pt;
    color: #838383;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #d5d5d5;
}

.adminPageTitle span {
    margin: 0;
}

.adminPageTitle span i {
    margin-right: 7px;
    margin-left: 5px;
}

.addNewsForm, .editNewsForm, .addCommentForm, .editCommentForm, .addUserForm, .editUserForm {
    padding: 20px;
    background-color: #FFF;
    margin: 15px 0px 15px 0px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}

.adminContainer {
    background-color: #ECF0F1;
    min-height: 100vh;
}

#showImg {
    margin-top: 20px;
}

.adminCopyright {
    position: absolute;
    bottom: 50px;
    padding: 5px 35px 5px 35px;
    color: #afafaf;
    text-align: center;
}

.tableNews {
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 2px;
}

.tableNews a {
    color: #222222;
}

.tableElement {
    background-color: #FFFFFF;
    border-top: 1px solid #dedede;
    padding: 15px 0px 10px 0px;
    border-radius: 2px;
}

.tableElement:hover {
    background-color: #efefef;
    transition: 0.2s;
}

.tableTitle span {
    color: #2BBCDE;
    font-size: 15px;
    font-weight: 700;
}

.tableContent {
    margin-top: 5px;
    padding: 3px;
}

.tableDate {
    color: #999;
    font-size: 15px;
}

.tableCommentId, .tableArticleId {
    color: #999;
    font-size: 15px;
}

.tableCommentId a, .tableArticleId a {
    color: #2BBCDE;
    font-weight: 700;
    text-decoration: none;
}

.tableAuthor {
    font-size: 15px;
    text-align: center;
}

.tableAuthor img {
    max-width: 60px;
}

.tableAuthor span {
    display: block;
    margin-top: 5px;
}

.commentsContainer h2 {
    font-size: 16pt;
    color: #444;
}

.commentsList {
    margin: 30px 0px 30px 0px;
    position: relative;
    max-width: 900px;
}

.commentsList:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 70px;
    top: 0;
}

.commentsList:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 67.5px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.replyList:before, .replyList:after {display: none;}
.replyList li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 45px;
    left: -55px;
}

.replyList li.levelTwo::before {
    content: '';
    width: 50px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 45px;
    left: 0px;
}

.replyList li.levelThree::before {
    content: '';
    width: 45px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 45px;
    left: 0;
}

span.levelUp {
    content: '';
    height: 120px;
    width: 2px;
    position: absolute;
    left: 22px;
    bottom: 75px;
    background-color: #C7CACB;
}

li.levelTwo .commentAvatar, li.levelThree .commentAvatar {
    position: relative;
}
.commentsList li {
    display: block;
    position: relative;
}

.commentsList li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.replyList {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.commentsList .commentAvatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 9;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.commentsList .commentAvatar img {
    width: 100%;
    height: 100%;
}

.replyList .commentAvatar {
    width: 50px;
    height: 50px;
}

.commentMain:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

li.levelZero .commentBox, li.levelOne .commentBox, li.levelTwo .commentBox, li.levelThree .commentBox {
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    position: relative;
}

li.levelZero .commentBox {
    min-width: 770px;
    max-width:770px;
}

li.levelOne .commentBox {
    min-width: 700px;
    max-width: 700px;
}

li.levelTwo .commentBox {
    min-width: 630px;
    max-width: 630px;
}

li.levelThree .commentBox {
    min-width: 560px;
    max-width: 560px;
}


@media only screen and (max-width: 850px) {
    li.levelZero .commentBox, li.levelOne .commentBox, li.levelTwo .commentBox, li.levelThree .commentBox {
        width:100% !important;
        min-width:0;
        max-width:300px;
    }
}

li.levelTwo {
    padding-left: 45px;
    border-left: 2px solid #c7cacb;
    margin-left: 25px;
}

li.levelThree {
    padding-left: 45px;
    border-left: 2px solid #c7cacb;
    margin-left: 95px;
}

li.levelOne .commentSingle {
    margin-top: 20px;
}

li.levelTwo .commentSingle {
    padding-top: 20px;
}

li.levelThree .commentSingle {
    padding-top: 20px;
}

.commentsList .commentBox:before, .commentsList .commentBox:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.commentsList .commentBox:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.commentBox .commentHead {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.commentBox .commentHead i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.commentBox .commentHead i:hover {
    color: #03658c;
}

.commentBox .commentName {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.commentBox .commentName a {
    color: #283035;
}

.commentBox .commentHead span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 9px;
}

.commentBox .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.commentBox .commentName.commentAuthor, .commentBox .commentName.commentAuthor a {color: #03658c;}


.commentContent {
    padding: 15px 10px 10px 30px;
    background-color: #fafafa;
}

@media only screen and (max-width: 766px) {
    .commentsContainer {
        width: 480px;
    }

    .commentsList .commentBox {
        width: 390px;
    }

    .replyList .commentBox {
        width: 320px;
    }
}

footer.footer {
    padding: 15px;
    text-align: center;
    background-color: #353535;
    color: #FFFFFF;
}

form.addComment {
    padding: 30px 30px 40px 30px;
    max-width: 930px;
}

form.addComment input.author, .addCommentReply input.author {
    margin-left: 0;
}

form.addCommentReply {
    padding: 20px 20px 40px 20px;
    background-color: #f3f3f3;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    max-width: 79%;
    margin: 0 auto;
    margin-top: 10px;
}

span.commentsSeparator {
    display: block;
    border-bottom: 1px solid #C7CACB;
    margin-left: 40px;
    color: #505050;
}

.commentMain {
    padding-bottom: 15px;
}

li.levelOne .commentMain {
    padding-top: 20px;
}

li.levelTwo .commentMain {
    padding-top: 20px;
}

li.levelThree .commentMain {
    padding-top: 20px;
}

input.author {
    margin-bottom: 20px;
}

input.submitComment {
    float: right;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #FFFFFF;
    border-style: none;
    padding: 7px;
    border-radius: 3px;
}

.adminHome {
    display: inline-block;
    padding: 15px 0px 0px 10px;
}

.adminHome a {
    color: #FFFFFF;
    font-size: 13pt;
    text-decoration: none;
}

.adminHome .fa-home {
    margin-right: 7px;
    font-size: 15pt;
}

#replyCommentForm {
    width: 100%;
}

.newsAdmin, .commentsAdmin, .usersAdmin, .addNews, .addComment, .addUser, .editNews, .editComment, .editUser {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tableInfos {
    font-size: 13pt;
    color: #808080;
}

.tableInfos .text-center {
    border-right: 1px solid #c6c6c6;
    margin-bottom: 10px;
}

.tableInfos .text-center i {
    font-size: 7pt;
    padding-left: 5px;
}

.commentsContainer.container {
    padding-bottom: 80px;
}

.timeline {
    list-style: none;
    padding: 40px 0 0 0;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timelinePanel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}
.timeline > li .timelinePanel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li .timelinePanel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li .timelineImage {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
}
.timeline > li .timelineImage h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px;
}
.timeline > li.timelineInverted > .timelinePanel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}
.timeline > li.timelineInverted > .timelinePanel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timelineInverted > .timelinePanel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timelineHeader h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timelineHeader h4.subHeader {
    text-transform: none;
}
.timeline .timelineBody > p,
.timeline .timelineBody > ul {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline > li .timelinePanel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timelineImage {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline > li .timelineImage h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;
    }
    .timeline > li.timelineInverted > .timelinePanel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
}
@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timelinePanel {
        padding: 0 20px 20px;
    }
    .timeline > li .timelineImage {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timelineImage h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px;
    }
    .timeline > li.timelineInverted > .timelinePanel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timelinePanel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timelineImage {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timelineImage h4 {
        margin-top: 40px;
    }
    .timeline > li.timelineInverted > .timelinePanel {
        padding: 0 100px 20px 20px;
    }
}

section#about {
    background-color: #FFFFFF;
    margin-top: 60px;
    padding: 50px 0 50px 0;
}

section#presse {
    padding: 50px 0 150px 0;
    background-color: #ffffff;
}

section#bio {
    padding: 50px 0 50px 0;
}

section#contact {
    padding: 80px 0 80px 0;
    background-color: #efefef;
}

.contact {
    font-size: 15pt;
    color: #636363;
    padding-bottom: 35px;
}

.infos {
    font-size: 12pt;
    color: #636363;
}

.bioImage {
    text-align: right;
}

.bioText {
    font-size: 11.5pt;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    color: #545454;
}
.bioHeader, .contactHeader {
    font-family: "Signika", 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30pt;
    padding-bottom: 55px;
}

.aboutHeader, .presseHeader{
    font-family: "Signika", 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30pt;
}

.aboutSubHeader {
    font-family: sans-serif;
    padding-bottom: 40px;
}

.subHeader {
    font-family: "Signika", sans-serif;
    font-size: 15pt;
}

.error {
    padding-top: 30px;
}

.errorNotFound {
    display: block;
    font-family: "Signika", sans-serif;
    font-size: 60pt;
}

.errorInfos {
    width: 100%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 17pt;
}

.social {
    padding-top: 15px;
    font-size: 12pt;
    border-top: 1px solid grey;
    max-width: 250px;
    margin: 35px auto 0 auto;
    color: #636363;
}

.social i {
    margin: 0 5px;
    color: #333333;
}

.retour {
    margin-top: 30px;
    display: block;
}

.retour a {
    font-size: 13pt;
    text-decoration: none;
}

.retour i {
    margin-left: 4px;
    font-size: 12pt;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

li.dropdown.reportedComments {
    width: 350px;
    text-align: right;
}

.reportsHeader {
    font-size: 12pt;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px;
}

.reportsFooter {
    text-align: center;
    border-top: 1px solid #d8d8d8;
    padding: 5px 10px 5px 10px;
}

.reportsFooter a {
    color: #222222;
    text-decoration: none;
}

ul.dropdown-menu.reports {
    right: 0!important;
}

li.reported {
    padding: 7px 7px 7px 7px;
    border-bottom: 1px solid #eaeaea;
}

.reportedContent {
    font-size: 9pt;
}

li.dropdown.reportedComments i {
    padding-right: 3px;
}

.authorEdit {
    padding: 5px;
    font-size: 12pt;
}

.noData {
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-size: 20pt;
    color: #8f8080;
}

i.fa.fa-exclamation-circle.fa-red {
    color: #f33434;
}

.showReported a {
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.quoteIco {
    padding-top: 45px;
    font-size: 35pt;
    color: #616161;
}

.quoteContent {
    padding: 15px 13px 0 15px;
    font-size: 14pt;
    color: #636363;
}

.quoteAuthor {
    padding: 20px 25px 20px 25px;
    font-size: 15pt;
    border-top: 1px solid grey;
    max-width: 250px;
    margin: 20px auto 0 auto;
    color: #636363;
}

.quoteImage img {
    max-width: 120px;
    border: 1px solid #b7b7b7;
    margin-top: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}